.Card {
    border: 10px solid #222;
    padding: 15px;
    max-width: 350px;
    margin: 20px auto;
    text-align: center;
    
    /* nice UI touch */
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.Card img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
    border-radius: 8px;
    border: 1px solid #bf1a1a;
    border-radius: 70px;
    overflow: hidden;
    
}

.Card:hover {
    transform: translateY(-5px);
    transition: 0.3s ease;
}
